@charset "UTF-8";

body {
	background-color: cornsilk;
	margin:0;
}

.header {
	color:white;
	background-color: darkgreen;
	padding: 5px;
	width:100%;
	text-indent: 35px;
}

h2 {
	transform: translate(145px, 50px);
}

.menu {
	transform: translate(145px, 70px);
}

table {
	transform: translate(0px, 50px);
	border-collapse: collapse;
	border-spacing: 0;
	width:80%;
	margin:auto;
}

tr {
	border-top: solid 1px silver;
	border-bottom: solid 1px silver;
}

td {
	padding:18px 0px;
}

td#col1 {
	padding-left: 20px;
}

td#col2 {
	padding-left: 100px;
}

td#col4,td#col3 {
	float:right;
}
