<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>パスワード変更ページ</title>
</head>
<body>
	<h2 class="heading">パスワード変更</h2>
	<form method="post" th:action="@{/changePass}" th:object="${passwordForm}">
        <label for="password">パスワード</label><br>
        <input type="password" id="password" name="password" th:value="${passwordForm.password}"><br>
        <div class="em" th:if="${#fields.hasErrors('password')}" th:errors="${passwordForm.password}"></div>
        <br>
        <button type="submit">変更</button>
    </form>
</body>
</html>