<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link th:href="@{/css/form.css}" rel="stylesheet"/>
<title>確認・変更画面</title>
</head>
<body>
<div class="header">
	<h1>Want To Do List</h1>
</div>
<h2>詳細確認・変更</h2>
<form method="POST" th:action="@{/update}" th:object="${todoForm}">
	<label>やりたいこと：</label><br>
	<div class="em" th:if="${#fields.hasErrors('title')}" th:errors="${todoForm.title}"></div>
	<input id="in1" type="text" name="title" th:value="*{title}" /><br>
	<br>
	<label>なぜそれをやるのか：</label><br>
	<div class="em" th:if="${#fields.hasErrors('significance')}" th:errors="${todoForm.significance}"></div>
	<textarea name="significance" th:text="*{significance}" /></textarea><br>
	<br>
	<label>具体的な手順・方法：</label><br>
	<div class="em" th:if="${#fields.hasErrors('method')}" th:errors="${todoForm.method}"></div>
	<textarea name="method" th:text="*{method}" /></textarea><br>
	<br>
	<label>それをやる上で障壁になりそうなもの：</label><br>
	<div class="em" th:if="${#fields.hasErrors('barrier')}" th:errors="${todoForm.barrier}"></div>
	<textarea name="barrier" th:text="*{barrier}" /></textarea><br>
	<br>
	<label>それをやるメリット：</label><br>
	<div class="em" th:if="${#fields.hasErrors('advantage')}" th:errors="${todoForm.advantage}"></div>
	<textarea name="advantage" th:text="*{advantage}" /></textarea><br>
	<br>
	<label>それをやらないデメリット：</label><br>
	<div class="em" th:if="${#fields.hasErrors('disadvantage')}" th:errors="${todoForm.disadvantage}"></div>
	<textarea name="disadvantage" th:text="*{disadvantage}" /></textarea><br>
	<input type="hidden" name="todoId" th:value="${todoId}">
	<br>
	<input id="in2" type="submit" value="変更">
</form>
<form method="GET" th:action="@{/}">
	<input id="in3" type="submit" value="戻る">
</form>

</body>
</html>