<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h2>詳細確認・変更</h2>
<form method="POST" th:action="@{/update}" th:object="${todoForm}">
	<label>やりたいこと：</label>
	<input type="text" name="title" th:value="*{title}" /><br>
	<label>なぜそれをやるのか：</label>
	<input type="text" name="significance" th:value="*{significance}" /><br>
	<label>具体的な手順・方法：</label>
	<input type="text" name="method" th:value="*{method}" /><br>
	<label>それをやる上で障壁になりそうなもの：</label>
	<input type="text" name="barrier" th:value="*{barrier}" /><br>
	<label>それをやるメリット：</label>
	<input type="text" name="advantage" th:value="*{advantage}" /><br>
	<label>それをやらないデメリット：</label>
	<input type="text" name="disadvantage" th:value="*{disadvantage}" /><br>
	<input type="submit" value="変更">
</form>

</body>
</html>