<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/login_signup.css}" rel="stylesheet"/>
    <title>ユーザー登録</title>
</head>
<body>
<div class="header">
	<h1>Want To Do List</h1>
</div>

<div class="content">
    <h2 class="heading">ユーザー登録</h2>
    <form method="post" th:action="@{/signup}" th:object="${signupForm}">
        <div class="em" th:if="${signupError}">
            <div th:text="${signupError}"></div>
        </div>
        <label for="username">ユーザー名</label><br>
        <input type="text" id="username" name="username" th:value="${signupForm.username}"><br>
        <div class="em" th:if="${#fields.hasErrors('username')}" th:errors="${signupForm.username}"></div>
        <br>
        <label for="password">パスワード</label><br>
        <input type="password" id="password" name="password" th:value="${signupForm.password}"><br>
        <div class="em" th:if="${#fields.hasErrors('password')}" th:errors="${signupForm.password}"></div>
        <br>
        <button type="submit">登録</button>
    </form>
    <a href="/login">ログイン画面</a>
</div>
</body>
</html>